doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title StuQ商城
  meta(name='viewport', content='initial-scale=1, maximum-scale=1')
  link(rel='shortcut icon', href='/favicon.ico')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  link(rel='stylesheet', href='/node_modules/light7/dist/css/light7.min.css')
  link(rel='stylesheet', href='/node_modules/animate.css/animate.min.css')
  link(rel='stylesheet', href='/node_modules/light7/dist/css/light7-swiper.min.css')
  link(rel='stylesheet', href='/stylesheets/index.css')  
body
  // Here is your HTML code
  block content
script(type='text/javascript', src='/javascripts/zepto.min.js', charset='utf-8')
script(type='text/javascript', src='/node_modules/light7/dist/js/light7.min.js', charset='utf-8')
script(type='text/javascript', src='/node_modules/light7/dist/js/light7-swiper.min.js', charset='utf-8')
script(src='/javascripts/fn.js')
script(src='/javascripts/index.js')